<div class="container">
    <h1 style="text-align: center;">Retreive informations and statistic about movies</h1>
    <br/>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix" style="font-size: 30px;;">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <h2><span class="font-green" id="title"></span> &nbsp;&nbsp; <span class="font-green" id="avgRating"></span>&nbsp; <label class="small" id="numberOfRating"></label></h2>
        <br />
        <h6 id="genre"></h6>
        <h6 id="actors"></h6>
        <h6 id="directors"></h6>
        <h6 id="writers"></h6>
        <br />
        <p id="plot">
        </p>
    </div>
    <div class="col-sm" id="chart-div">
    </div>
</div>
<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm" id="line-char-div">

    </div>
</div>
